rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Correctly matches the 'users' collection and checks the document ID against the authenticated user's ID
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
